* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', serif;
}

a:link,
a:visited {
  color: black;
  text-decoration: none;
}

.circularBorder {
  border-radius: 50%;
}

/* .pokedex {
  font-family: 'Pokemon Solid', sans-serif;
} */

body {
  background-color: #f6f8fc;
  min-height: 100vh;
  overflow-x: hidden;
}

header {
  background-color: #ec2e30;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.display-style i {
  border: 2px solid #ffcd00 !important;
}

.display-style .active {
  opacity: 0.6;
}

/* #searchBar {
  outline: none !important;
  outline-width: 0 !important;
} */

#bigLoader {
  height: 60vh;
  position: relative;
}

#pokeBallLoader {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background: conic-gradient(
    #fb2022 90deg,
    #ffffff 90deg 270deg,
    #fb2022 270deg 360deg
  );
  position: relative;
  border: 7px solid #000000;
  animation: loading 2s linear infinite;
}

#whiteLine {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 15px;
  width: 100%;
  background-color: #000000;
}

#centerBall {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 10px solid #000000;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#bigCol section:first-of-type {
  margin: 0 auto;
}

#searchBar {
  padding: 15px;
  border: 1px solid #cecece !important;
}

#searchBar:focus,
#searchBar:focus-visible,
#searchBar:active {
  border: 1px solid #cecece !important;
}

#btnSearch {
  background-color: #ec2e30;
  width: 50px;
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
}

#pokemonBox {
  margin-top: 70px;
}

.card {
  width: 18rem !important;
  margin-bottom: 70px;
  cursor: pointer;
}

.card:hover {
  border: 1px solid black;
}

.card:hover .pokeSprite {
  width: 40%;
  top: -58%;
}

.pokeSprite {
  width: 30%;
  position: absolute;
  top: -45%;
  left: 50%;
  transform: translateX(-50%);
}

.card-title {
  text-transform: capitalize;
}

.type span {
  font-size: 0.8em;
  text-transform: capitalize;
  font-weight: 500;
}

.type-normal {
  background-color: #b8b8a8;
}

.type-fighting {
  background-color: #f87070;
}

.type-flying {
  background: linear-gradient(to bottom, #58c8f0, #b7b7a7);
}

.type-poison {
  background-color: #e090f8;
}

.type-ground {
  background: linear-gradient(to bottom, #e0e000, #c8a048);
}

.type-rock {
  background-color: #c8a048;
}

.type-bug {
  background-color: #a0c888;
}

.type-ghost {
  background-color: #a870f8;
}

.type-steel {
  background-color: #b8b8d0;
}

.type-fire {
  background-color: #f89030;
}

.type-water {
  background-color: #6898f8;
}

.type-grass {
  background-color: #90e880;
}

.type-electric {
  background-color: #e0e000;
}

.type-psychic {
  background-color: #f838a8;
}

.type-ice {
  background-color: #30d8d0;
}

.type-dragon {
  background: linear-gradient(to bottom, #6898f8, #f87272);
}

.type-dark {
  background-color: #908888;
}

.type-fairy {
  background-color: #f170f1;
}

.type-stellar {
  background: conic-gradient(
    #f4d229,
    #fea32b,
    #f75829,
    #eb525b,
    #c665ab,
    #8746c3,
    #754794,
    #4b4e6b,
    #637ba7,
    #3f93e1,
    #27acec,
    #2da1ee,
    #3890e3,
    #4393d3,
    #43d744,
    #b9d13f,
    #c5cb79,
    #d9ad4d
  );
}

#infoCol {
  height: 80vh;
  position: sticky;
  top: 110px;
}

#imgSelectedPokemon {
  position: absolute;
  /* height: 100px; */
  top: -20%;
  left: 50%;
  transform: translateX(-50%);
}

#loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  background-color: #cecece;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: rotate 2s linear infinite;
}

#line {
  width: 100%;
  height: 6px;
  background-color: #ffffff;
}

#circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: 30%;
  background-color: #ffffff;
  border-radius: 50%;
}

#circle::after {
  content: '';
  display: block;
  width: 70%;
  height: 70%;
  background-color: #cecece;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#infoCard {
  height: 80%;
  /* animation: slide 2s ease-in-out forwards; */
}

#pokemonInfoBox {
  height: 90%;
  margin-top: 30px;
}

#pokemonInfos {
  overflow-y: scroll;
  scroll-behavior: smooth;
  padding-bottom: 30px;
}

#pokemonInfos::-webkit-scrollbar {
  width: 5px;
}

#pokemonInfos::-webkit-scrollbar-track {
  background: #ffffff;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

#pokemonInfos::-webkit-scrollbar-thumb {
  background: var(--color);
}

.pokemonName {
  text-transform: capitalize;
}

#selectedPokemonNumer {
  font-size: 0.8em;
  font-weight: bold;
  margin-bottom: 7px;
}

#selectedPokemonTypeBox span {
  font-size: 0.8em;
  font-weight: 500;
  text-transform: capitalize;
}

#selectedPokemonDescription {
  font-size: 0.9em;
  margin-bottom: 7px;
}

#selectedPokemonHeight,
#selectedPokemonWeight,
.ability {
  background-color: #f6f8fc;
  border-radius: 16px;
  padding: 3px 0;
  font-size: 0.9em;
  text-transform: capitalize;
}

#pokemonInfos h5 {
  font-size: 1.1em;
}

.statValue {
  background-color: #f6f8fc;
  padding: 4px;
  margin: 0 2px;
}

.statTotal {
  background-color: #88aaea;
}

.hp,
.attack,
.defense,
.specialAttack,
.specialDefense,
.speed,
.total {
  color: white;
  font-weight: 500;
  width: 25px;
  height: 25px;
  padding: 0;
  font-size: 0.7em;
}

.hp {
  background-color: #df2140;
}

.attack {
  background-color: #ff994d;
}

.defense {
  background-color: #eecd3d;
}

.specialAttack {
  background-color: #85ddff;
}

.specialDefense {
  background-color: #96da83;
}

.speed {
  background-color: #fb94a8;
}

.total {
  background-color: #7195dc;
}

#selectedPokemonHp,
#selectedPokemonAttack,
#selectedPokemonDefense,
#selectedPokemonSpecialAttack,
#selectedPokemonSpecialDefense,
#selectedPokemonSpeed,
#selectedPokemonTotalStats {
  font-size: 0.8em;
  font-weight: 500;
  margin: 3px 0;
}

#selectedPokemonTotalStats {
  font-size: 0.9em;
}

.evolutionImg {
  width: 20%;
}

.evolutionImg:hover {
  cursor: pointer;
  transform: scale(1.2, 1.2);
  background-color: #d9dbdf;
  border-radius: 20px;
}

.level {
  font-size: 0.7em;
  padding: 5px 10px;
  border-radius: 16px;
  font-weight: 500;
  background-color: #f6f8fc;
}

#goTop {
  position: fixed;
  right: 5px;
  top: 85vh;
  color: darkgray;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(30deg);
  }
  80% {
    transform: rotate(330deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes slide {
  0% {
    left: 0;
  }
  50% {
    left: 500%;
  }
  100% {
    left: 0;
  }
}
